{% extends "breed_identifier/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
	<div class="homepage-image">
		<div class="homepage-image-text">
			<h1>Dog Dubber</h1>
			<h3>Upload a dog pic below to see what breed it is!
		</div>
	</div>
	<div class="homepage-upload">
		<form method="POST" enctype="multipart/form-data" id="dog_picture_form">
			{% csrf_token %}
			<fieldset class="form-group">
				<h1 class="border-bottom mb-4">Upload</h1>
				{{ picture_form }}
			</fieldset>
			<div class="form-group">
				<button class="btn btn-outline-info" type="submit">Upload</button>
			</div>
		</form>
		<div>
			{% if display_breed %}
				<h1>That dog looks like a {{breed}}!</h1>
			{% endif %}
		</div>
	</div>
{% endblock content %}